<main class="container ">
    <div class="fullscreen ">
        <h1>Prepositions for everyone</h1>
        <div class="container ">
            <div class="row">
                <div class="col-lg-3">

                </div>
                <div class="col-lg-6">
                    <p class="lead ">This application aims to teach german word prepositions. It is easy to use, understand and interact with.</p>
                </div>
                <div class="col-lg-3">
                    
                </div>
            </div>
        </div>
    </div>
</main>

